@import "../scss/utils";
@import "../scss/config";

.about-background {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      290deg,
      rgba(19, 19, 19),
      rgba(19, 19, 19, 1),
      rgba(19, 19, 19, 0.9),
      rgba(19, 19, 19, 0.9),
      rgba(0, 0, 0, 0.44)
    ),
    url("https://res.cloudinary.com/garagesellers/image/upload/v1635657504/pexels-pixabay-270360_wpjlmd.jpg");
  display: flex;
}

///1440p standard size monitor
@media screen and (min-width: 1999px) {
}
